<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>PyRTLSweeper</title>
        <meta
            name="description"
            content="Automated Transformation of Digital Circuits to Minesweeper Boards"
        />
        <meta name="og:title" content="PyRTLSweeper" />
        <meta
            name="og:description"
            content="Automated Transformation of Digital Circuits to Minesweeper Boards"
        />
        <meta name="og:type" content="website" />
        <link rel="icon" href="/favicon/favicon.svg" />
        <link rel="icon" href="/favicon/favicon.ico" sizes="16x16 32x32" />
        <link rel="apple-touch-icon" href="/favicon/favicon-180.png" />
        <link rel="preconnect" href="https://fonts.bunny.net" />
        <link
            href="https://fonts.bunny.net/css?family=hanken-grotesk:400"
            rel="stylesheet"
        />
        <style>
            * {
                font-family: "Hanken Grotesk", sans-serif;
            }
        </style>
    </head>
    <body>
        <slot />
    </body>
</html>
